/* Reset & Base Style */
html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}
html, body, button, a {
    font-family: monospace;
    color: var(--p1-font);
    font-weight: bold;
    letter-spacing: 0.2px;
}
button {
    cursor: pointer;
}

/* Layout */
section {
    width: 100%;
}
.visualizer {
    height: 100vh;
    z-index: 0;
}
.controls {
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0.5rem 2rem;
    box-sizing: border-box;
    text-align: center;
}
.controls.active {
    max-height: 100vh;
    overflow-y: scroll;
}

.note-circle {
    position: absolute;
    width: 6rem;
    height: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 1.0);
    transition: height var(--animation-time) ease,
                background-color var(--animation-time) ease;
}
.note-circle.active {
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
}
/* Information in controls hidden by default */
.control-panel-wrapper {
    height: 0;
    transition: height var(--snappy-animation-time) ease-out;
}
.control-panel-wrapper input {
    margin: 1rem auto;
}
.control-panel-wrapper .panel {
    padding: 0;
    margin: 0 2rem 0 0;
    width: calc(50% - 4rem);
    display: inline-block;
}
.control-panel-wrapper .panel:first-child() {
    margin: 0 0 0 2rem;
}
.control-panel-wrapper.active {
    height: 40rem;
}
.control-panel-wrapper input {
    width: 90%;
}
#ShowControls:after {
    content: "Show Controls";
}
#ShowControls.active:after {
    content: "Hide Controls";
}
.footer-copy p, .footer-copy button {
    display: inline-block;
}
button {
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    width: auto;
}
.light-font {
    font-weight: 300;
    font-size: 0.9rem;
    letter-spacing: 2.5px;
}

/* Desktop Styles */
@media screen and (min-width: 960px) {
    .control-panel-wrapper.active {
        height: 10rem;
    }
    .control-panel-wrapper .panel {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .control-panel-wrapper label {
        margin-top: 1rem;
    }
    .control-panel-wrapper .panel, .control-panel-wrapper .panel:first-child() {
        padding: 0;
        margin: 0;
    }
    .footer-copy button {
        margin-left: 2rem;
    }
    .control-panel-wrapper h2 {
        padding: 0 1rem;
        margin: 2rem 1rem 0;
        border-right: 2px var(--p1-font) solid;
    }
    .controls.active {
        overflow-y: hidden; /* where we're rendering... we won't need a scrollbar. */
    }
}